.App {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  margin: 0;
  padding: 0;
}

/* #93ad18
#6e8510
#576c05	 
#eaede0 
#f4f6ef
*/

/* HEADER */
.logoTitle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* box-sizing: border-box; */
  margin: 0 auto 2px;
  padding: 11px 6px 9px 14px;
  border: #576c05 solid 2px;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

img {
  /* display: block;
  margin: 0; */
  width: 92;
  height: 120px;
}

.h1Header {
  color: #576c05;
  margin: 0 0 1px;
  font-stretch: expanded;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  letter-spacing: 7px;
}

.linkCurrentEmployees {
  display: block;
  align-content: center;
  margin: 0 auto;
  padding: 6px 16px;
  width: fit-content;
  /* border: #576c05 solid 2px; */
  border-radius: 10px;
  font-weight: 500;
  color: #576c05;
  /* text-decoration: none; */
  text-align: center;
}

.link:hover {
  color: #93ad18;
}

h2 {
  margin: 4px auto 24px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  background-color: #6e8510;
  color: white;
  max-width: 280px;
}

.createEmployee {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f2f6eb; */
  /* background-color: #eaede0; */
  width: 320px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.inputPadding {
  box-sizing: border-box;
  padding: 0 16px 0px;
}

.inputDate {
  width: 248px;
}

label {
  margin: 16px 0 2px;
}

.labelError {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inputError {
  text-align: right;
  font-size: 70%;
  color: red;
  font-weight: bold;
  height: 12px;
  margin: 1px 0 0;
}

fieldset {
  margin: 16px 0 0;
  padding: 0px 0px 10px;
  border: 2px #6e8510 solid;
  border-radius: 10px;
}

legend {
  margin: 0 3px;
  font-size: 120%;
}

.buttonDiv {
  margin: 0px auto;
}

.edit-button {
  display: block;
  margin: 24px auto 0;
  cursor: pointer;
  padding: 5px 30px;
  color: white;
  background-color: #576c05;
  border-radius: 10px;
  border: 3px solid #576c05;
}

.edit-button:hover {
  color: white;
  background-color: #93ad18;
}

/* EMPLOYEE LIST */
.currentEmployees {
  margin: auto;
  padding: 20px 0%;
  width: 90%;
}

/* .GcSkG, */
.sc-iVCKna {
  /* color: black; */
  white-space: normal;
}

.rdt_TableRow:nth-child(2n + 1) {
  background-color: #eaede0;
  /* color: black; */
}

.rdt_TableRow:nth-child(2n) {
  background-color: #f4f6ef;
}
