.App {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

#external-form {
  margin: 0;
  padding: 0;
}

.inputName-wrapper {
  /* display: flex;
  flex-direction: column; */
  margin: 20px auto;
  width: fit-content;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0;
}

.inputNameError {
  color: red;
  font-weight: bold;
  width: fit-content;
  height: 20px;
  /* margin-bottom: -16px; */
}

p {
  margin: 0;
}

/* .pErrorName {
  color: red;
  font-weight: bold;
} */

.frame {
  position: relative;
  margin-top: 30px;
}

.pAddress {
  position: absolute;
  width: fit-content;
  font-weight: bold;
  margin-top: -10px;
  padding: 0 4px;
  background-color: rgb(255, 255, 255);
}

.address {
  border: 2px green solid;
  border-radius: 5px;
  /* margin-top: -8px; */
  margin-left: -8px;
  padding: 8px;
}

.buttonDiv {
  margin: 0px auto;
}

.edit-button {
  display: block;
  margin: 0px auto;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}  */
