:root {
  --rowA-bg-color: #f4f6ef;
  --rowB-bg-color: #eaede0;
  --cross-close-bg-color: #2b3603;
  --green0: #576c05;
  --green1: #6e8510;
  --green2: #93ad18;
}

body {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--rowA-bg-color);
}

.App {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  margin: 0;
  padding: 0;
}

/* HEADER */
.logoTitle {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto 2px;
  padding: 11px 6px 9px 14px;
  border: #576c05 solid 2px;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

img {
  width: 92;
  height: 120px;
}

.h1Header {
  color: #576c05;
  margin: 0 0 1px;
  font-stretch: expanded;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
  letter-spacing: 7px;
}

.linkCurrentEmployees {
  display: block;
  align-content: center;
  margin: 0 auto;
  padding: 6px 16px;
  width: fit-content;
  border-radius: 10px;
  font-weight: 500;
  color: #576c05;
  text-align: center;
}

.link:hover {
  color: var(--green2);
}

h2 {
  margin: 4px auto 24px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--green1);
  color: white;
  max-width: 280px;
}

/* PAGE HOMEFORM */
.createEmployee {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 320px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.inputPadding {
  box-sizing: border-box;
  padding: 0 16px 0px;
}

.inputDate {
  width: 248px;
}

label {
  margin: 16px 0 2px;
}

.labelError {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inputError {
  text-align: right;
  font-size: 70%;
  color: red;
  font-weight: bold;
  height: 12px;
  margin: 1px 0 0;
}

fieldset {
  margin: 16px 0 0;
  padding: 0px 0px 10px;
  border: 2px var(--green1) solid;
  border-radius: 10px;
}

legend {
  margin: 0 3px;
  font-size: 120%;
}

.buttonDiv {
  margin: 0px auto;
}

.edit-button {
  display: block;
  margin: 24px auto 0;
  cursor: pointer;
  padding: 5px 30px;
  color: white;
  background-color: #576c05;
  border-radius: 10px;
  border: 3px solid #576c05;
}

.edit-button:hover {
  color: white;
  background-color: var(--green2);
}

/* EMPLOYEE LIST */
.currentEmployees {
  margin: auto;
  padding: 20px 0%;
  width: 90%;
}

.sc-iVCKna {
  white-space: normal;
}

.rdt_TableRow:nth-child(2n + 1) {
  background-color: var(--rowB-bg-color);
}

.rdt_TableRow:nth-child(2n) {
  background-color: var(--rowA-bg-color);
}

/* PAGE ERROR */
.mainError {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleError {
  color: var(--green0);
  margin: 15% auto 5%;
  padding: 20px;
  color: white;
  font-size: 120px;
  font-weight: 700;
}

.paragraphError {
  margin: 0 auto 3%;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.linkError {
  display: block;
  margin: 0 auto;
  color: var(--green0);
  font-size: 22px;
  font-weight: 700;
}
